h1{
    background-color: aqua;
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    /*flex-direction: row;*/
    /*flex-direction: column-reverse;*/
    flex-direction: row-reverse;

}

.container-1{
    display: flex;
    justify-content: center;
}
.content{
    border: 1px solid blue;
    margin: 5px 20px;
    padding: 0px 5px;

}